@using ClassLibraryScheduler.Model
@model List<ModelClient>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div>
        <h2>Cadastrar Cliente</h2>
        <form method="post">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" placeholder="Insira o nome do cliente" name="InsName" />
            </div>
            <div class="form-group">
                <label>Endereço:</label>
                <input type="text" class="form-control" placeholder="Insira o endereço do cliente" name="InsAddress" />
            </div>
            <div class="form-group">
                <label>Telefone:</label>
                <input type="text" class="form-control" placeholder="Insira o Telefone do cliente" name="InsPhone" />
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" placeholder="Insira o Email do cliente" name="InsEmail" />
            </div>

            <button type="submit" class="btn-info">Salvar</button>
        </form>        
    </div>
</div>